.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  min-width: 260px;
}

@media only screen and (max-width: 600px) {
  .app {
    width: 90vw;
  }
}
