:root {
  --font-family: "Montserrat", sans-serif;
  --primary-color: #0f2d3f;
  --secondary-color: #f3f9f9;
  --accent-color: #da3b2e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
